openapi: 3.2.0
info:
  title: Nomba Charge Order Management API
  description: The Nomba Charge API provides direct card charging capabilities for developers building payment solutions. It supports submitting customer card details, OTP verification, retrieving user saved cards, and managing the server-to-server card payment flow. This API is designed for merchants and platforms that need programmatic control over the card payment process, including handling 3D Secure authentication steps.
  version: 1.0.0
  contact:
    name: Nomba Developer Support
    url: https://developer.nomba.com
  termsOfService: https://nomba.com/terms
servers:
- url: https://api.nomba.com
  description: Production Server
- url: https://sandbox.nomba.com
  description: Sandbox Server
security:
- bearerAuth: []
tags:
- name: Order Management
  description: Endpoints for retrieving order details and managing checkout transactions.
paths:
  /v1/checkout/order/{orderReference}:
    get:
      operationId: getOrderDetails
      summary: Get order details by order reference
      description: Retrieves the details of a checkout order using the generated order reference. This can be used to check the current status and details of a payment order.
      tags:
      - Order Management
      parameters:
      - name: orderReference
        in: path
        required: true
        description: The unique order reference generated when the order was created.
        schema:
          type: string
      - $ref: '#/components/parameters/accountId'
      responses:
        '200':
          description: Order details retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/OrderDetailsResponse'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Order not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
components:
  schemas:
    ErrorResponse:
      type: object
      properties:
        code:
          type: string
          description: Error status code.
        description:
          type: string
          description: Human-readable description of the error.
        errors:
          type: array
          description: List of specific error details.
          items:
            type: string
    OrderDetailsResponse:
      type: object
      properties:
        code:
          type: string
          description: Response status code.
          example: '00'
        description:
          type: string
          description: Human-readable description of the response.
          example: Success
        data:
          type: object
          properties:
            orderReference:
              type: string
              description: The unique order reference.
            amount:
              type: number
              format: double
              description: The order amount.
            currency:
              type: string
              description: The currency of the order.
            status:
              type: string
              description: The current status of the order.
              enum:
              - pending
              - successful
              - failed
              - cancelled
            createdAt:
              type: string
              format: date-time
              description: The date and time the order was created.
  parameters:
    accountId:
      name: accountId
      in: header
      required: true
      description: The unique identifier of the parent business account.
      schema:
        type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: OAuth2 bearer token obtained from the Nomba Authentication API.
externalDocs:
  description: Nomba Charge API Documentation
  url: https://developer.nomba.com/nomba-api-reference/charge/submit-customer-card-otp
